@media only screen and (min-width:200px) and (max-width:575px){
    .header_mid{
        flex-direction: column;
    }

    .header_phone{
        display: none;
    }
    .mobile_buttons{
        width: 100%;
        display: flex;
        position: fixed;
        bottom: 0px;
    }

    .btn1{
        background-color: #005EAD;
        font-size: 18px;
        color: white;
        flex-grow: 1;
        padding: 10px 0px;
        text-align: center;
        font-weight: bold;
    }

    .btn2{
        background-color: gold;
        color: white;
        font-size: 18px;
        flex-grow: 1;
        padding: 10px 0px;
        text-align: center;
        font-weight: bold;
    }

    .btn1 a, .btn2 a{
        color: white;
    }

    .banneer_mid{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .banner_left{
        width: 100%;
        text-align: center;
    }

    .banner_left h1{
        font-size: 28px;
        font-weight: normal;
    }

       .banner_left h3{
        font-size: 24px;
        font-weight: normal;
    }

       .banner_left h5{
        font-size: 20px;
        font-weight: normal;
    }

    .banner_right{
        width: 90%;
        text-align: center;
    }

    .heading_div{
        margin-bottom: 20px;
    }

    .video_section figure{
        width: 100%;
        margin: auto;
    }

    .why_block_items{
        flex-basis: 45%;
        padding: 5px 5px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .achievement_content ul{
        flex-wrap: wrap;
        padding: 20px 20px;
    }

    .achievement_content ul li{
        flex-basis: 45%;
    }

    .customer_mid{
        flex-direction: column;
        position: relative;
    }


    .customer_1{
        position: absolute;
        top: 10px;
        left: 30%;
        z-index: 1;
    }

    .customer_2{
        position: relative;
        top: 0px;
        padding-top: 250px;
        text-align: center;
        padding-left: 0px;
    }

    .client_content{
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }

    .client_items{
        flex-basis: 200px;
    }

    
}